/* HFI App Styling Sheet */


/* hacky way to make leaflet darktheme
.leaflet-layer,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-control-attribution {
  filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}

*/

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: white;
}

/* Firefox scrollbar (alternative approach) */
* {
  scrollbar-width: auto;
  scrollbar-color: white black;
}



/* Slider bar (active track) */
.irs--shiny .irs-bar {
  border-top: #00bc8c;
  border-bottom: #00bc8c;
  background: #00bc8c !important;
}

/* Slider handle (dot) */
.irs--shiny .irs-handle > i:first-child {
  background: #00bc8c !important;
}

/* Slider handle border */
.irs--shiny .irs-handle {
  border-color: #00bc8c !important;
  background-color: #00bc8c !important;
}

/* Value labels (from, to, single) */
.irs--shiny .irs-from, 
.irs--shiny .irs-to, 
.irs--shiny .irs-single {
  background: #00bc8c !important;
}

/* Value label arrows */
.irs--shiny .irs-from:before, 
.irs--shiny .irs-to:before, 
.irs--shiny .irs-single:before {
  border-top-color: #00bc8c !important;
}