/* HFI App Styling Sheet */


/* hacky way to make leaflet darktheme
.leaflet-layer,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-control-attribution {
  filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}

*/

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: white;
}

/* Firefox scrollbar (alternative approach) */
* {
  scrollbar-width: auto;
  scrollbar-color: white black;
}